<form class="profile_edit">
  <div class="profile_edit__avatar__wrapp">
    <div class="profile_edit__avatar__change">
      <span>Поменять аватар</span>
    </div>
    <div class="profile_edit__avatar"></div>
    <input
      type="file"
      name="avatar"
      class="profile_edit__avatar__file hidden"
      placeholder="{{avatar}}"
    />
  </div>
  <h1 class="profile_edit__user_name">Иван</h1>
  <div class="profile_edit__email control__view">
    <div class="message_block" style="top: 0px; right: 0"></div>
    <label class="control__view__label" for="form__email__input">Почта*</label
    ><input
      type="text"
      class="control__view__value"
      id="form__email__input"
      placeholder="{{userName}}"
    />
  </div>
  <div class="profile_edit__login control__view">
    <div class="message_block" style="top: 0px; right: 0"></div>
    <label class="control__view__label" for="form__login__input">Логин*</label
    ><input
      type="text"
      class="control__view__value"
      id="form__login__input"
      placeholder="{{login}}"
    />
  </div>
  <div class="profile_edit__name control__view">
    <div class="message_block" style="top: 0px; right: 0"></div>
    <label class="control__view__label" for="form__first_name__input">Имя</label
    ><input
      type="text"
      class="control__view__value"
      id="form__first_name__input"
      placeholder="{{firstName}}"
    />
  </div>
  <div class="profile_edit__surname control__view">
    <div class="message_block" style="top: 0px; right: 0"></div>
    <label class="control__view__label" for="form__second_name__input"
      >Фамилия</label
    ><input
      type="text"
      class="control__view__value"
      id="form__second_name__input"
      placeholder="{{secondName}}"
    />
  </div>
  <div class="profile_edit__name_for_chat control__view">
    <div class="message_block" style="top: 0px; right: 0"></div>
    <label class="control__view__label" for="form__display_name__input"
      >Имя в чате</label
    ><input
      type="text"
      class="control__view__value"
      id="form__display_name__input"
      placeholder="{{displayName}}"
    />
  </div>
  <div class="profile_edit__phone control__view control__view_end">
    <div class="message_block" style="top: 0px; right: 0"></div>
    <label class="control__view__label" for="form__phone__input">Телефон</label
    ><input
      type="text"
      class="control__view__value"
      id="form__phone__input"
      placeholder="{{phone}}"
    />
  </div>
  <div class="profile_edit__action">-=save=-</div>
</form>
