.password_edit {
  width: 568px;
  background-color: #F9F8FF;
  border-radius: 12px;
  text-align: center;
  padding: 4px 0 40px 0;
}
.password_edit__action__save {
  width: 280px;
  height: 37px;
  text-align: center;
  margin: auto;
  background-color: #7861FF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.password_edit__avatar__wrapp {
  margin-bottom: 100px;
}
.password_edit__avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: auto;
  margin-top: 50px;
  background-image: url(../media/avatar.jpeg);
  background-position: center;
  background-size: 130px;
  background-color: #4D4D4D;
}
.control__view {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  border-bottom: 1px solid #EAEAEA;
  padding: 13px 0 5px 0;
}
.control__view_end {
  border: none;
  margin-bottom: 80px;
}
.password_edit__action > a {
  font-size: 13px;
  text-decoration: none;
  color: #FC2FCF;
  margin-top: 15px;
}
.password_edit__action {
  display: flex;
  flex-direction: column;
  align-items: center;
}
