<form class="password_edit">
  <div class="password_edit__avatar__wrapp">
    <div class="password_edit__avatar"></div>
  </div>
  <div class="password_edit__old_password control__view">
    <div class="message_block" style="top: 0px; right: 0"></div>
    <label class="control__view__label" for="form__oldPassword__input"
      >Старый пароль</label
    ><input
      type="password"
      class="control__view__value"
      id="form__oldPassword__input"
    />
  </div>
  <div class="password_edit__new_password control__view">
    <div class="message_block" style="top: 0px; right: 0"></div>
    <label class="control__view__label" for="form__newPassword__input"
      >Новый пароль</label
    ><input
      type="password"
      class="control__view__value"
      id="form__newPassword__input"
    />
  </div>
  <div
    class="password_edit__new_password_double control__view control__view_end"
  >
    <div class="message_block" style="top: 0px; right: 0"></div>
    <label class="control__view__label" for="form__newPasswordDouble__input"
      >Повторите новый пароль</label
    ><input
      type="password"
      class="control__view__value"
      id="form__newPasswordDouble__input"
    />
  </div>
  <div class="password_edit__action">-=save=-</div>
</form>
